.header th{
    background: #16447d;
    color: white;
    padding: 5px;
}
.header th a{
    color:white;
}
.even td{
    background: rgba(47, 67, 88, 0.14);
    border-bottom: 1px dotted grey;
}
table tr td{
    text-align: left;
    padding: 5px;
}
table{
    width: 80%;
    align-self: center;
    border-bottom: 1px solid grey;
    margin-left: 20px;
}
.Pagination{
    width: 80%;
}

.menu_bar{    
    background-color: #16447d;
}
.message_bar{
    background-color: #167d52;
    color: white;
    padding: 10px;
}
.menu {
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

.menu:after { /* clearfix */
	content: "";
	display: block;
	clear: both;
}

.menu li {
	margin: 0;
	float: left;
	list-style-type: none;
}

.menu a {
	display: block;
	color: #fff;
	font-family: Helvetica,sans-serif;
	text-align: center;
	width: 200px;
	line-height: 30px;
	text-decoration: none;
	background-color: #16447d;
    border-right: 1px solid grey;
}

.menu a:hover,
.menu a:active {
	background-color: #bbb;
}
.top_header{
    width: 100%;
    height: 70px;
    background-color: #252323;
    text-align: center;
    color: white;
}
.container div{
    margin-left: 20px;
}